/*Hero section*/
.hero {
    min-height: calc(100vh - var(--nav-height));
    max-height: calc(100vh - var(--nav-height));
    display: flex;
    padding: 0 var(--page-margin);
}

.hero__content {
    font-size: 4rem;
    justify-content: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}



.hero__imageContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.hero__imageContainer img {
    width: 40%;
    height: 40%;
    object-fit: contain;
    box-shadow: 0 0 1rem 1px var(--shadow-color);
}

.hero__contentInput_container {
    font-size: 1rem;
    display: inline-flex;
    background: white;
    border-radius: 100vw;
    box-shadow: 0 0 2rem 1px var(--shadow-color);
    max-width: fit-content;
    justify-content: space-between;
}

.hero__contentInput_container > input {
    border: none;
    background: transparent;
    font-size: 1rem;
    padding: 0 1rem;
}

.hero__contentInput_container > input:focus {
    outline: none;
}

/*Clients section*/
.clients {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 var(--page-margin);
    background-color: #1C262F;
    min-height: 50vh;
    max-height: 50vh;
    overflow: hidden;
    color: white;
}

.clients__backgroundCircle_Container {
    position: absolute;
    top: 0;
    left: 0;
    /*z-index: -100;*/
    overflow: hidden;
}

.clients__backgroundCircle {
    margin-top: -20rem;
    opacity: 0.15;
    /*margin-left: -10rem;*/
}

.clients__content_container {
    flex-grow: 1;
    max-width: 50%;
}

.clients__content_heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.clients__content_text {
    font-size: 1.5rem;
    /*font-weight: bold;*/
    margin-bottom: 2rem;
    line-height: 2.5rem;

}

.clients__logo_container {
    max-width: 50%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clients__button {
    all: unset;
    font-size: 1rem;
    font-weight: bolder;
    padding: 1rem 2.5rem;
    border: 0.20rem white solid;
    border-radius: 100vw;
}

.feature {
    display: flex;
    flex-direction: column;
    position: relative;
}

.feature__container {
    display: flex;
    padding: 0 var(--page-margin);
    margin: 10vh 0;

}

.feature__image {
    flex-grow: 1;
    max-width: 50%;
    display: flex;
    justify-content: center;

}

.feature__content {
    flex-grow: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.feature__content_title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.feature__content_text {
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.feature__backgroundCircle_Container {
    position: absolute;
    /*justify-self: center;*/
    /*justify-items: center;*/
    /*justify-content: center;*/
    right: 0%;
    /*z-index: -100;*/
    overflow: hidden;
}

.feature__backgroundCircle {
    margin-right: -20rem;
    opacity: 0.15;
    /*margin-left: -10rem;*/
}

.feature__imageTerminal_container {
    height: 320px;
    width: 480px;
    border-radius: 10px;
    background-color: #313131;
    box-shadow: 0 0 1rem 1px var(--shadow-color);
}

.feature__imageTerminal_window {
    height: 48px;
    width: 100%;
    background-color: #1C262F;
    border-radius: 10px 10px 0 0;

}

.feature__imageTerminal_buttonContainer {
    margin-right: 10px;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.feature__imageTerminal_buttonBase {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin: 10px;
}

.feature__imageTerminal_buttonsClose {
    composes: feature__imageTerminal_buttonBase;
    background-color: #ff0000;
}

.feature__imageTerminal_buttonsMaximize {
    composes: feature__imageTerminal_buttonBase;
    background-color: #999999;
}

.feature__imageTerminal_buttonsMinimize {
    composes: feature__imageTerminal_buttonBase;
    background-color: #535353;
}

.feature__imageTerminal_code {
    color: white;
    padding: 1rem;
}

.subFeature {
    display: flex;
    padding: 0 var(--page-margin);
    justify-content: space-between;
    text-align: center;
}
.subFeature__container {
    width: 33%;
}
.subFeature__title {
    font-size: 2rem;
    font-weight: bold;
}
.subFeature__text {
    font-size: 1.3rem;
    line-height: 2.5rem;
}
.subFeature__image {
    box-shadow: 0 0 1rem 1rem var(--shadow-color);
}
.finalCta {
    display: flex;
    padding: 0 var(--page-margin);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
}
.finalCta > div {
    width: 33%;
}
.finalCta__title {
    font-size: 2rem;
    font-weight: bold;
}
