/*Hero section*/
.hero {
    min-height: calc(100vh - var(--nav-height));
    max-height: calc(100vh - var(--nav-height));
    display: flex;
}

.hero__content {
    justify-content: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.hero__imageContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}


.hero__contentInput_container {
    display: inline-flex;
    background: white;
    border-radius: 100vw;
    box-shadow: 0 0 2rem 1px var(--shadow-color);
    max-width: fit-content;
    justify-content: space-between;
}

.hero__contentInput_container > input {
    border: none;
    background: transparent;
    font-size: 1rem;
    padding: 0 1rem;
}

.hero__contentInput_container > input:focus {
    outline: none;
}

/*Clients section*/
.clients {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1C262F;
    overflow: hidden;
    color: white;
}

.clients__backgroundCircle_Container {
    position: absolute;
    top: 0;
    left: 0;
    /*z-index: -100;*/
    overflow: hidden;
}

.clients__backgroundCircle {
    margin-top: -20rem;
    opacity: 0.15;
    /*margin-left: -10rem;*/
}

.clients__content_container {
    flex-grow: 1;
    max-width: 50%;
}

.clients__content_heading {
    font-weight: bold;
}

.clients__content_text {
    /*font-weight: bold;*/
    margin-bottom: 2rem;
    line-height: 2.5rem;

}

.clients__logo_container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clients__button {
    all: unset;
    font-size: 1rem;
    font-weight: bolder;
    border: 0.20rem white solid;
    border-radius: 100vw;
}

/*Feature Section*/

.feature {
    display: flex;
    flex-direction: column;
    position: relative;
}

.feature__container {
    display: flex;

}

.feature__image {
    flex-grow: 1;
    display: flex;
    justify-content: center;

}

.feature__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.feature__content_title {

}

.feature__content_text {
}

.feature__backgroundCircle_Container {
    position: absolute;
    /*justify-self: center;*/
    /*justify-items: center;*/
    /*justify-content: center;*/
    right: 0;
    /*z-index: -100;*/
    overflow: hidden;
}

.feature__backgroundCircle {
    margin-right: -20rem;
    opacity: 0.15;
    /*margin-left: -10rem;*/
}

.feature__imageTerminal_container {
    height: 320px;
    width: 480px;
    border-radius: 10px;
    background-color: #313131;
    box-shadow: 0 0 1rem 1px var(--shadow-color);
}

.feature__imageTerminal_window {
    height: 48px;
    width: 100%;
    background-color: #1C262F;
    border-radius: 10px 10px 0 0;

}

.feature__imageTerminal_buttonContainer {
    margin-right: 10px;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.feature__imageTerminal_buttonBase {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin: 10px;
    color: transparent;
}

.feature__imageTerminal_buttonsClose {
    composes: feature__imageTerminal_buttonBase;
    background-color: #ff0000;
}

.feature__imageTerminal_buttonsMaximize {
    composes: feature__imageTerminal_buttonBase;
    background-color: #999999;
}

.feature__imageTerminal_buttonsMinimize {
    composes: feature__imageTerminal_buttonBase;
    background-color: #535353;
}

.feature__imageTerminal_code {
    color: white;
    padding: 1rem;
}

.subFeature {

    display: flex;
    justify-content: space-between;
    text-align: center;
}

.subFeature__container {

}

.subFeature__title {
    font-weight: bold;
}

.subFeature__text {

}

.subFeature__image {
    box-shadow: 0 0 1rem 1rem var(--shadow-color);
}

.finalCta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.finalCta__title {
    font-weight: bold;
}



@media (min-width: 360px)  and (max-width: 991px) {
    .hero {
        flex-direction: column-reverse;
    }

    .hero__imageContainer {
        height: 50%;
        flex-grow: 0.5;
        display: flex;
        overflow: auto;
    }
    .hero__imageContainer img {
    }
    .hero__image {
        object-position: center;
    }

    .hero__content {
        flex-grow: 1;
        height: 50%;
        display: flex;
        font-size: 2.5rem;
        text-align: center;
    }

    .hero__content {
        align-items: center;

    }

    .hero__contentInput_container {
        font-size: 1rem;
        margin-bottom: 1rem;
        flex-direction: column;
        background: unset;
        box-shadow: unset;
    }

    .hero__contentInput_container > input {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 100vw;
        box-shadow: 0 0 2rem 1px var(--shadow-color);


    }

    .clients {
        flex-direction: column;
        /*padding: 0 var(--page-margin);*/
        /*min-height: 50vh;*/
        /*max-height: 50vh;*/
        padding: 5vw;
    }

    .clients__content_container {
        max-width: 100%;

    }

    .clients__content_heading {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .clients__content_text {
        font-size: 1rem;
        line-height: 2rem;
    }

    .clients__logo_container {
        max-width: 100%;
    }

    .clients__button {
        padding: 0.5rem 2rem;
    }

    .feature__container {
        padding: 0 var(--page-margin);
        flex-direction: column;
        margin: 5vh 0;
    }

    .feature__content_title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .feature__content_text {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .subFeature {
        flex-direction: column;
    }

    .subFeature__container {

    }

    .subFeature__title {
        font-size: 1.5rem;
    }

    .subFeature__text {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .finalCta {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

}

/*@media (min-width: 576px) and (max-width: 767px) {*/

/*}*/




@media (min-width: 992px) {

    .hero {
        padding: 0 var(--page-margin);
    }

    .hero__contentInput_container {
        font-size: 1rem;
    }

    .hero__content {
        font-size: 4rem;
    }

    .clients {
        padding: 0 var(--page-margin);
        min-height: 50vh;
        max-height: 50vh;
    }

    .clients__content_heading {
        margin-bottom: 1rem;
        font-size: 3rem;
    }

    .clients__content_text {
        font-size: 1.5rem;
    }

    .clients__logo_container {
        max-width: 50%;
    }

    .clients__button {
        padding: 1rem 2.5rem;
    }

    .feature__container {
        padding: 0 var(--page-margin);
        margin: 10vh 0;
    }

    .feature__image {
        max-width: 50%;
    }

    .feature__content {
        max-width: 50%;
    }

    .feature__content_title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .feature__content_text {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .subFeature {
        padding: 0 var(--page-margin);
    }

    .subFeature__container {
        width: 33%;
    }

    .subFeature__title {
        font-size: 2rem;
    }

    .subFeature__text {
        font-size: 1.3rem;
        line-height: 2.5rem;
    }

    .finalCta {
        padding: 0 var(--page-margin);
        margin-top: 10vh;
    }

    .finalCta__title {
        font-size: 2rem;
    }
}

/*@media (min-width: 360px) {}*/
/*@media (min-width: 576px) {}*/
/*@media (min-width: 768px) {}*/
/*@media (min-width: 992px) {}*/
/*@media (min-width: 1200px) {}*/
